fastapi
uvicorn
requests
python-dotenv

groq
elevenlabs==0.2.26
google-generativeai
protobuf==3.20.*

# Pydantic without Rust issues
pydantic==1.10.13

# Google APIs
google-api-core
google-auth
google-api-python-client

# Networking
httpx
httpcore
rfc3986
sniffio

# Build support
setuptools
